@{
    ViewBag.Title = "Nosotros";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Nosotros</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   
</head>
<body>

    <h1 style="padding-left:500px ">Nosotros </h1> 
    <div class="card mb-3" >
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="~/img/nosotro1.jpg" class="card-img" alt="..." style="width: 450px">
            </div>
            <div class="col-md-8" >
                <div class="card-body" style="padding-left:100px">
                    <h1 class="card-title">Historia</h1>
                    <p class="card-text" >

                        HISTORIA DEL CLUB:

                        Fundado en el año 2006, ya somos más de 250 Socios en la actualidad. La mayoría aficionados a la modalidad del Carpfishing y siendo una de las primeras Sociedades de Pescadores en gestionar un Coto de Pesca deportiva de captura y suelta de ciprínidos de la Comunidad de Madrid.

                        La Sociedad y El Coto se creó con la finalidad de la conservación de la fauna y flora de una de las joyas acuáticas de la Comunidad de Madrid y de España.

                        El embalse de Pedrezuela, conocido popularmente como embalse de "El Vellón" y de ahí el nombre del club, pasó por malos momentos de sequía, depredación humana y contaminación.

                        Pero gracias a la Consejería de Medio Ambiente de la Comunidad de Madrid, Sociedad y Coto de El Vellón,  y los Excelentísimos Ayuntamientos de Guadalix de la Sierra y Pedrezuela, se está luchando por mantener el entorno y la fauna en las mejores condiciones posibles.
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
   


</body>
</html>