@{
    ViewBag.Title = "Contactos";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Contacto</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/estilo.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>

    <section style="padding-top:150px">
        <div class="content">

            <h1 class="logo" style=" padding-left:10px">Contacto </h1>

            <div class="contact-wrapper animated bounceInUp" style="padding-left:400px">

                <div class="contact-form">

                    <form action="">
                        <p>
                            <label>Nombre</label>
                            <input type="text" name="nombre">
                        </p>
                        <p>
                            <label>Correo</label>
                            <input type="email" name="Correo">
                        </p>
                        <p>
                            <label>Numero de telefono</label>
                            <input type="tel" name="telefono">
                        </p>
                        <p>
                            <label>Asunto</label>
                            <input type="text" name="Asunto">
                        </p>
                        <p class="block">
                            <label>Mensaje</label>
                            <textarea name="Mensaje" rows="3">

                                    </textarea>
                        </p>
                        <p class="block">
                            <button>
                                ENVIAR
                            </button>
                        </p>
                    </form>
                </div>
                <img src="~/img/contacto.jpg" style="margin-left:0" alt="...">
            </div>

        </div>

    </section>

    

</body>
</html>








